<div id="<%= dom_id workout %>">

  <p>
    <strong>V pull weight:</strong>
    <%= workout.v_pull_weight %>
  </p>

  <p>
    <strong>V pull reps:</strong>
    <%= workout.v_pull_reps %>
  </p>

  <p>
    <strong>V pull series:</strong>
    <%= workout.v_pull_series %>
  </p>

  <p>
    <strong>V push weight:</strong>
    <%= workout.v_push_weight %>
  </p>

  <p>
    <strong>V push reps:</strong>
    <%= workout.v_push_reps %>
  </p>

  <p>
    <strong>V push series:</strong>
    <%= workout.v_push_series %>
  </p>

  <p>
    <strong>H pull weight:</strong>
    <%= workout.h_pull_weight %>
  </p>

  <p>
    <strong>H pull reps:</strong>
    <%= workout.h_pull_reps %>
  </p>

  <p>
    <strong>H pull series:</strong>
    <%= workout.h_pull_series %>
  </p>

  <p>
    <strong>H push weight:</strong>
    <%= workout.h_push_weight %>
  </p>

  <p>
    <strong>H push reps:</strong>
    <%= workout.h_push_reps %>
  </p>

  <p>
    <strong>H push series:</strong>
    <%= workout.h_push_series %>
  </p>

  <p>
    <strong>Squat weight:</strong>
    <%= workout.squat_weight %>
  </p>

  <p>
    <strong>Squat reps:</strong>
    <%= workout.squat_reps %>
  </p>

  <p>
    <strong>Squat series:</strong>
    <%= workout.squat_series %>
  </p>

  <p>
    <strong>Dead lift weight:</strong>
    <%= workout.dead_lift_weight %>
  </p>

  <p>
    <strong>Dead lift reps:</strong>
    <%= workout.dead_lift_reps %>
  </p>

  <p>
    <strong>Dead lift series:</strong>
    <%= workout.dead_lift_series %>
  </p>

</div>
